* {
    /* Tells the browser to account for any border and padding in the values you specify for an element's width and height. */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color:  white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__icons {
    list-style-type: none;
    color: white;
    display: flex;
    padding-left: 0px;
    
}

.navbar__icons i {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    /* the property that makes it not refresh */
    color: #d49466;
    font-size: 24px;
    position: absolute;
    right: 24px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .navbar__menu li {
        width: 100%; 
        /* make menu li into the center */
    }

    .navbar__icons {
        justify-content: center;
        width: 100%;
        display: none;
    }
}